___.__
*.user
*.[Cc]ache
*.force
*.pdb
*.suo
*.~cs
*.log
*.licx
*.csproj.user
*.[Rr]e[Ss]harper
*.sln.DotSettings

[Bb]in
[Oo]bj

[Dd]ebug*/
[Rr]elease/

Tests/Bin/*
_ReSharper*/

gpl.cmd
gph.cmd
/source/Ngt.Service/default/instance.xml
/source/**/_UpgradeReport_Files/
/source/**/Backup*/
/source/**/UpgradeLog*.XML
/source/**/packages/*
/source/**/!packages/repositories.config

/source/Ngt.Service/default/instance.xml
/source/Ppd/Ngt.Ppd.Plugin3/Oracle.DataAccess.dll

/DB/Deploy/scripts/*
/packages/*

/_Build/Output/*
/source/.vs/*
