<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnapCatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SnapCatch.Properties.Settings>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>ru-RU</value>
            </setting>
            <setting name="AccentTheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BaseTheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="ScreenContentFolder" serializeAs="String">
                <value>C:</value>
            </setting>
            <setting name="AutoStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SquareAreaScreenKey" serializeAs="String">
                <value>LControlKey +PrintScreen</value>
            </setting>
            <setting name="ActiveAreaScreen" serializeAs="String">
                <value>PrintScreen</value>
            </setting>
        </SnapCatch.Properties.Settings>
    </userSettings>
</configuration>